### Variables

In [2]:
a = 'xyz'

'xyz'

In [4]:
a

'xyz'

In [9]:
b = [1,2,3]

In [ ]:
x = a
a.upper()

### Data types

In [5]:
t = ('x',3, True)

In [ ]:
## Exercise 2
...

### Data structures

In [6]:
 type(t)
<class 'tuple'>

SyntaxError: invalid syntax (<ipython-input-6-15e37d6934a0>, line 2)

In [ ]:
t='cat',
type(t)

In [7]:
l = (3.14, "xyz",t)

In [ ]:
## Exercise 2

In [11]:
s = set(1)

TypeError: 'int' object is not iterable

In [ ]:
toons = {'Snowy':'dog', 'Garfield':'cat', 'Bugs':'bunny'}

In [1]:
toons = ['Bugs']

In [ ]:
## Exercise 3
...

### Iteration

In [ ]:
letters = letters =[x for x in 'abcde']

In [2]:
['a' 'b', 'c', 'd', 'e']

['ab', 'c', 'd', 'e']

In [3]:
CAPS = {x:X.upper() for x in 'abcde'}

NameError: name 'X' is not defined

### Flow control

In [ ]:
squares = []
for ... in range(1, 5):
    ...
    squares ...
... = len(squares)

In [ ]:
contacts = [
    {'name':..., 'phone':'555-111-2222'},
    {'name':..., 'phone':'555-333-4444'},
    ]
for ...:
    if ...:
        print(...['phone'])
    else:
        print(...['name'])

In [ ]:
## Exercise 4
...

### Function definition

In [ ]:
... add_two(x):
    ... = x + 2
    return ...

In [ ]:
def ...:
    result = ...
    return result

In [ ]:
## Exercise 5
...

In [6]:
toons.update ({
    'tweety': 'bird'
  'Bob':'sponge',
  'Bugs': 'rabbit',
  })

SyntaxError: invalid syntax (<ipython-input-6-892f0c2c918d>, line 3)

### Pandas

In [7]:
import pandas as pd
animals = pd.read_csv("data/animals.csv")

In [10]:
animals.loc[:, {'plot_id', 'species_id'}]

      species_id  plot_id
0             NL        3
1             DM        2
2             DM        7
3             DM        3
4             PF        1
5             PE        2
6             DM        1
7             DM        1
8             PF        6
9             DS        5
10            DM        7
11            DM        3
12            DM        8
13            DM        6
14            DM        4
15            DS        3
16            PP        2
17            PF        4
18            DS       11
19            DM       14
20            NL       15
21            DM       13
22            SH       13
23            DM        9
24            DM       15
25            DM       15
26            DM       11
27            PP       11
28            DS       10
29            DM       15
...          ...      ...
35519         DM        9
35520         DM        9
35521         DM        9
35522         PB        9
35523         OL        9
35524         OT        8
35525         DO       13
35526         US       13
35527         PB       13
35528         OT       13
35529         PB       13
35530         DM       14
35531         DM       14
35532         DM       14
35533         DM       14
35534         DM       14
35535         DM       14
35536         PB       15
35537         SF       15
35538         PB       15
35539         PB       15
35540         PB       15
35541         PB       15
35542         US       15
35543         AH       15
35544         AH       15
35545         RM       10
35546         DO        7
35547        NaN        5
35548         NL        2

[35549 rows x 2 columns]

In [12]:
animals.loc[2:4, 'plot_id':'sex']
   plot_id species_id sex

IndentationError: unexpected indent (<ipython-input-12-7d6bb48f1bb4>, line 2)

In [ ]:
animals[...].describe()

In [14]:
animals.loc[2:4, 'plot_id':'sex']
   plot_id species_id sex

IndentationError: unexpected indent (<ipython-input-14-7d6bb48f1bb4>, line 2)

In [18]:
dm_stats = (
  animals_dm
  .groupby('sex')
  ['hindfoot_length', 'weight']
  .mean()
  )
dm_stat

NameError: name 'animals_dm' is not defined

In [ ]:
## Exercise 6
...

### SQLAlchemy

In [ ]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine

# Create the canvas for a map between Python objects and database records
Base = automap_base()

# Identify database, create the map from the schema, and prepare to create sessions
engine = create_engine('postgresql+pygresql://@localhost/portal')
Base.prepare(engine, reflect=True)
Session = sessionmaker(bind=engine)

In [ ]:
Plots = Base.classes['plots']
... = Base.classes[...]
...

In [ ]:
plot = Plots(treatment='Control')

In [ ]:
... = Session()
session....
session....

In [ ]:
query = ....query(Species).filter_by(id='RO')
species = ....one()

In [ ]:
plot_a = session.query(Plots).filter_by(id=1).one()
plot_b = session.query(Plots).filter_by(id=19).one()

In [ ]:
query = session.query(Animals).filter_by(year=2002, month=1, day=12)
animals_a = query.filter(...).all()
animals_b = query.filter(...).all()

In [ ]:
for animal in animals_a:
    ...
for animal in animals_b:
    ...

In [ ]:
...
animals_a[0].plots is plot_b

In [ ]:
query = (session
    .query(Animals)
    .join(Species)
    .filter_by(taxa='Rodent')
    )
rodents = ...